In [15]:
import pandas as pd

관객수
-> 최대값
-> 최소값
-> 평균
-> 최대관객수 5개
-> 최소관객수 5개를 출력하시오.

In [16]:
df = pd.read_csv('movies.csv')
df

                         제목       관객수           날짜
0                     서울의 봄  13120000  2023.11.22.
1                     범죄도시3  10680000  2023.05.31.
2                      엘리멘탈   7240000  2023.06.14.
3                  스즈메의 문단속   5570000  2024.01.10.
4                        밀수   5140000  2023.07.26.
5                더 퍼스트 슬램덩크   4880000  2023.01.04.
6     가디언즈 오브 갤럭시: Volume 3   4200000  2023.05.03.
7  미션 임파서블: 데드 레코닝 PART ONE   4020000  2023.07.12.
8                 콘크리트 유토피아   3840000  2023.08.09.
9                 아바타: 물의 길  10800000  2022.12.14.

In [ ]:
df['관객수'].max()
df['관객수'].min()
df['관객수'].mean()

df['관객수'].nlargest(5)
df['관객수'].nsmallest(5)

np.float64(6949000.0)

In [21]:
df.describe()

                관객수
count  1.000000e+01
mean   6.949000e+06
std    3.369360e+06
min    3.840000e+06
25%    4.370000e+06
50%    5.355000e+06
75%    9.820000e+06
max    1.312000e+07