In [42]:
import pandas as pd
df = pd.read_excel('pandas_code.xlsx')
df.describe()
df['수학'].describe()

count    1000.000000
mean       72.397000
std        16.236595
min        45.000000
25%        59.000000
50%        72.000000
75%        86.000000
max       100.000000
Name: 수학, dtype: float64

In [43]:
# 최소 최대 평균 표준편차 값
df['수학'].min()
df['수학'].max()
df['수학'].mean()
df['수학'].std()
df['수학'].nlargest(10) # 최대점수 값 n명 출력
df['수학'].nsmallest(10) # 최소값 n명 출력

18     45
117    45
188    45
263    45
281    45
351    45
506    45
553    45
559    45
644    45
Name: 수학, dtype: int64

In [44]:
df = pd.read_excel('score.xlsx')
df['키'].min()
df['키'].max()
df['키'].mean()
df['키'].nlargest(3) # 기본 5명, 숫자를 입력하면 숫자만큼 가져옴
df['키'].nsmallest() 
df['국어'].sum()
df['키'].count() # 개수
df['SW특기'].count()
df['학교'].unique() #중복 제거 확인
df['학교'].nunique() #중복제거 개수 확인

2

In [45]:
# 컬럼에 대한 확인
df['키']
df[['이름','키']] # 컬럼 복수확인
df[['이름','키','학교']]
df['키'],df['이름']

# 모든 컬럼 확인
df.columns
df.columns[0] # 컬럼 0번째 확인
df['이름']

df.columns[-1]

df[df.columns[-1]] # 컬럼의 마지막 데이터 확인

df[df.columns[[0,3,-1]]] # 0번째 3번째 마지막 컬럼 데이터 확인

  지원번호    키        SW특기
0   1번  197      Python
1   2번  184        Java
2   3번  168  JavaScript
3   4번  187         NaN
4   5번  188         NaN
5   6번  202           C
6   7번  188      PYTHON
7   8번  190          C#