In [4]:
import pandas as pd
# 2차원 데이터 생성
# dict 타입으로 구성해서 2차원 데이터로 변환
data = {
  '이름':['강나래','강태원','강호림','김수찬','김재욱','박동현','박혜정','승근열'],
  '학교':['구로고','구로고','가산고','구로고','가산고','가산고','구로고','구로고'],
  '키':[197,184,168,187,188,202,188,190],
  '국어':[90,40,80,40,15,80,55,100],
  '영어':[85,35,75,60,20,100,65,85],
  '수학':[100,50,70,70,10,95,45,90],
  '사회':[85,25,75,80,10,80,35,95],
  'SW특기':['Python','Java','JavaScript',' ',' ','C','PYTHON','C#']
}

In [7]:
data
type(data)

dict

In [ ]:
# dict타입 : 키를 활용해서 데이터를 출력
data['키']
data['SW특기']

['Python', 'Java', 'JavaScript', ' ', ' ', 'C', 'PYTHON', 'C#']

In [ ]:
# dict 타입을 pandas -> DataFrame
# t = pd.Series(temp)
df = pd.DataFrame(data) # dict 타입을 입력하면 DataFrame 타입으로 변경
df

    이름   학교    키   국어   영어   수학  사회        SW특기
0  강나래  구로고  197   90   85  100  85      Python
1  강태원  구로고  184   40   35   50  25        Java
2  강호림  가산고  168   80   75   70  75  JavaScript
3  김수찬  구로고  187   40   60   70  80
4  김재욱  가산고  188   15   20   10  10
5  박동현  가산고  202   80  100   95  80           C
6  박혜정  구로고  188   55   65   45  35      PYTHON
7  승근열  구로고  190  100   85   90  95          C#

In [12]:
df['키']

0    197
1    184
2    168
3    187
4    188
5    202
6    188
7    190
Name: 키, dtype: int64

In [ ]:
df['이름']
df[['이름','키','국어']] # [[]] - 2번 사용
df[['국어','이름']]

    국어   이름
0   90  강나래
1   40  강태원
2   80  강호림
3   40  김수찬
4   15  김재욱
5   80  박동현
6   55  박혜정
7  100  승근열

In [ ]:
# 컬럼이름을 모두 확인
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '사회', 'SW특기'], dtype='object')

In [ ]:
# 데이터에서 특정컬럼만 뽑아서 가져올 수 있음
# 순서도 변경 가능
df = pd.DataFrame(data,columns=['이름','학교','SW특기'])
df

    이름   학교        SW특기
0  강나래  구로고      Python
1  강태원  구로고        Java
2  강호림  가산고  JavaScript
3  김수찬  구로고
4  김재욱  가산고
5  박동현  가산고           C
6  박혜정  구로고      PYTHON
7  승근열  구로고          C#