In [8]:
import pandas as pd

In [9]:
# index_col 컬럼명이 없는 경우 : index번호로 지정
df = pd.read_excel('출산율.xlsx',skiprows=2,nrows=1,index_col=0)
df.index.name = '목록'
df

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

       2012  2013  2014  2015  2016  2017  2018  2019  2020  2021  2022  2023
목록
합계출산율   1.3  1.19  1.21  1.24  1.17  1.05  0.98  0.92  0.84  0.81  0.78  0.72

In [10]:
df = pd.read_excel('출산율2.xlsx',skiprows=2,nrows=2,index_col=0)
df.index.name = '목록'
# 출생아 수 출력
df.loc['출생아 수']
# 합계출산율 출력
df.iloc[-1]

df.index.values # index 유니코드

df.loc['합계\xa0출산율']

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2014    1.205
2015    1.239
2016    1.172
2017    1.052
2018    0.977
2019    0.918
2020    0.837
2021    0.808
2022    0.780
2023    0.720
Name: 합계 출산율, dtype: float64

In [11]:
# 인덱스 이름 바꾸기
df.rename(index={'출생아\xa0수':'출생아 수'},inplace=True)
df.loc['출생아 수']

# 축 변경
df = df.T

df.describe()

목록         출생아 수     합계 출산율
count   10.00000  10.000000
mean   327.93000   0.970800
std     78.06133   0.188678
min    230.00000   0.720000
25%    263.52500   0.815250
50%    314.75000   0.947500
75%    394.10000   1.142000
max    438.40000   1.239000

In [12]:
df['출생아 수'].min()

np.float64(230.0)