In [145]:
import pandas as pd
import numpy as np
df = pd.read_excel('연령별인구현황01.xlsx',index_col='행정기관',skiprows=3,nrows=2,usecols='B,E:Y')

# df.loc['전국  ']
# 빈공백 제거

# index 1번쨰 row 데이터를 출력
df.index[0].strip()
df.loc[df.index[0]]

# index 이름을 변경
df.rename(index={df.index[0]:df.index[0].strip()},inplace=True)
df.index

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['전국', '서울특별시  '], dtype='object', name='행정기관')

In [146]:
df.loc['전국'].str.replace(",","").astype(int)

0~4세        678966
5~9세       1019087
10~14세     1195436
15~19세     1195498
20~24세     1446090
25~29세     1777534
30~34세     1788146
35~39세     1629589
40~44세     2055022
45~49세     1965092
50~54세     2279578
55~59세     2115365
60~64세     2093694
65~69세     1670380
70~74세     1066316
75~79세      760968
80~84세      519583
85~89세      231644
90~94세       59761
95~99세        9722
100세 이상       1473
Name: 전국, dtype: int64

In [147]:
df = df.T

In [148]:
df['전국'] = df['전국'].str.replace(',','').astype(int)

In [149]:
df['전국'].min()
df['전국'].max()

np.int64(2279578)

In [150]:
# 이름변경
# 출생아 수 .최대값 최소값을 출력하시오.
# 축을 변경하시오.

# index_col 컬럼명이 없는 경우 : index번호로 지정
df = pd.read_excel('출산율.xlsx',skiprows=2,nrows=1,index_col=0)
df.index.name = '목록'
df

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

       2012  2013  2014  2015  2016  2017  2018  2019  2020  2021  2022  2023
목록
합계출산율   1.3  1.19  1.21  1.24  1.17  1.05  0.98  0.92  0.84  0.81  0.78  0.72

In [151]:
df = df.T
df

목록    합계출산율
2012   1.30
2013   1.19
2014   1.21
2015   1.24
2016   1.17
2017   1.05
2018   0.98
2019   0.92
2020   0.84
2021   0.81
2022   0.78
2023   0.72

In [152]:
df = pd.read_excel('출산율2.xlsx',skiprows=2,nrows=2,index_col=0)
df.index.name = '목록'
# 출생아 수 출력
df.loc['출생아 수'].min()
df.loc['출생아 수'].max()

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

np.float64(438.4)

In [153]:
df.index.values # index 유니코드

array(['출생아\xa0수', '합계\xa0출산율'], dtype=object)

In [154]:
df.rename(index={'출생아\xa0수':'출생아 수','합계\xa0출산율':'합계 출산율'},inplace=True)
df.loc['출생아 수']

#df = df.T # 방향 전환 (축 전환)

2014    435.4
2015    438.4
2016    406.2
2017    357.8
2018    326.8
2019    302.7
2020    272.3
2021    260.6
2022    249.1
2023    230.0
Name: 출생아 수, dtype: float64

In [155]:
df.index.values # index 유니코드

array(['출생아 수', '합계 출산율'], dtype=object)

In [156]:
# df['2014'] 세로방향(컬럼방향)
# df.loc['출생아수'] 가로방향(index 방향)
# df.iloc[0]

In [162]:
df.columns
df.index
df = df.T
df.describe()

목록         출생아 수     합계 출산율
count   10.00000  10.000000
mean   327.93000   0.970800
std     78.06133   0.188678
min    230.00000   0.720000
25%    263.52500   0.815250
50%    314.75000   0.947500
75%    394.10000   1.142000
max    438.40000   1.239000

In [169]:
df['출생아 수'].min()
df['출생아 수'].max()
df['출생아 수'].mean()


filt = (df['출생아 수']>=300) & (df['합계 출산율'] >= 1)
df[filt]

목록    출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052