In [63]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv',sep='\t')

In [64]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
# 메뉴별 주문수량을 출력하시오.
df.groupby('order_id')[['item_name','quantity']].sum()

# 메뉴별 총 주문량을 출력하시오.
df[['item_name','quantity']].value_counts()

# 주문당 평균 계산금액을 출력하시오.
# df['item_price'] = df['item_price'].str[1:].astype(float)
df.groupby('order_id')['item_price'].mean()
# df.groupby('order_id')['item_price'].sum()

# 아이템별 가격 금액을 출력하시오.
df.groupby('item_name')['item_price'].unique()

# 주문별, 높은 가격순으로 주문 개수를 출력하시오.
df.groupby('order_id')['item_price'].sum().sort_index(ascending=False)

order_id
1        2.890000
2       16.980000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: item_price, Length: 1834, dtype: float64