In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv',sep='\t')

In [294]:
# item_name 그룹별로 개수확인
df.groupby('item_name')['order_id'].count() # 그룹화를 해서 출력
df['item_name'].value_counts() # 자동정렬

# items() item_name,개수를 튜플형태로 리턴해줌.
list(df['item_name'].value_counts().items())

[('Chicken Bowl', 726),
 ('Chicken Burrito', 553),
 ('Chips and Guacamole', 479),
 ('Steak Burrito', 368),
 ('Canned Soft Drink', 301),
 ('Chips', 211),
 ('Steak Bowl', 211),
 ('Bottled Water', 162),
 ('Chicken Soft Tacos', 115),
 ('Chips and Fresh Tomato Salsa', 110),
 ('Chicken Salad Bowl', 110),
 ('Canned Soda', 104),
 ('Side of Chips', 101),
 ('Veggie Burrito', 95),
 ('Barbacoa Burrito', 91),
 ('Veggie Bowl', 85),
 ('Carnitas Bowl', 68),
 ('Barbacoa Bowl', 66),
 ('Carnitas Burrito', 59),
 ('Steak Soft Tacos', 55),
 ('6 Pack Soft Drink', 54),
 ('Chips and Tomatillo Red Chili Salsa', 48),
 ('Chicken Crispy Tacos', 47),
 ('Chips and Tomatillo Green Chili Salsa', 43),
 ('Carnitas Soft Tacos', 40),
 ('Steak Crispy Tacos', 35),
 ('Chips and Tomatillo-Green Chili Salsa', 31),
 ('Steak Salad Bowl', 29),
 ('Nantucket Nectar', 27),
 ('Barbacoa Soft Tacos', 25),
 ('Chips and Roasted Chili Corn Salsa', 22),
 ('Izze', 20),
 ('Chips and Tomatillo-Red Chili Salsa', 20),
 ('Veggie Salad Bowl', 18),
 ('Chips and Roasted Chili-Corn Salsa', 18),
 ('Barbacoa Crispy Tacos', 11),
 ('Barbacoa Salad Bowl', 10),
 ('Chicken Salad', 9),
 ('Veggie Soft Tacos', 7),
 ('Carnitas Crispy Tacos', 7),
 ('Burrito', 6),
 ('Carnitas Salad Bowl', 6),
 ('Veggie Salad', 6),
 ('Steak Salad', 4),
 ('Crispy Tacos', 2),
 ('Bowl', 2),
 ('Salad', 2),
 ('Chips and Mild Fresh Tomato Salsa', 1),
 ('Veggie Crispy Tacos', 1),
 ('Carnitas Salad', 1)]

In [295]:
# 전체 item_name개수 확인
df['item_name'].value_counts().index[0]
# index[0]

'Chicken Bowl'

In [296]:
df.columns
# 주문번호 주문수량 메뉴명 추가옵션 금액

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [297]:
# 메뉴별 주문 수량 체크
df['item_name'].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [298]:
# 주문메뉴 Chicken Bowl 인 quantity 합계 구하시오
df['item_name'].value_counts().head(3)

item_name
Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Name: count, dtype: int64

In [299]:
df[df['item_name']== 'Chicken Bowl']['quantity'].sum()

np.int64(761)

In [300]:
df.groupby('item_name').sum().sort_values('quantity',ascending=False).tail(2)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chips and Mild Fresh Tomato Salsa,279,1,0,$3.00
Veggie Crispy Tacos,668,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

In [301]:
# 총 주문 수량
len(df['order_id'].unique())

1834

In [302]:
# 주문 평균 금액을 출력하시오. (어려움)

# item_price _> float변환 후
df['item_price'] = df['item_price'].str[1:].astype(float)

# order_id 그룹화
df.groupby('order_id')['item_price']
# order_id로 합계를 낸 후 평균을 해야함
df.groupby('order_id')['item_price'].sum().mean()

np.float64(18.811428571428568)

In [303]:
# 각 아이템별 가격을 구하시오.
# 주문이 1개인 메뉴를 먼저 출력하시오.
filt = df['quantity'] == 1

df[filt][['item_name','item_price']].min()
df[filt].groupby('item_name')[['item_price']].min().count()

# 순차정렬하시오

item_price    50
dtype: int64

In [304]:
# 한 주문당 20달러 이상 주문한 order_id를 출력하시오.

# filt = df.groupby('order_id')['item_price'] >= 20
df_s = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False)
filt = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False) >= 20
df_s.loc[filt]

order_id
926     205.25
1443    160.74
1483    139.00
691     118.25
1786    114.30
         ...
1113     20.00
1544     20.00
1805     20.00
1222     20.00
940      20.00
Name: item_price, Length: 589, dtype: float64

In [305]:
# veggie salad bowl
filt = df['item_name'] == 'Veggie Salad Bowl'
df[filt].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

In [306]:
# chicken salad bowl 몇개 주문되었는지 출력
# 주문 총수량
filt = df['item_name'] == 'Chicken Salad Bowl'
df[filt].count()

order_id              110
quantity              110
item_name             110
choice_description    110
item_price            110
dtype: int64

In [315]:
# chicken bowl 2개 이상 주문한 횟수 출력
filt = (df['item_name'] == 'Chicken Bowl') & (df['quantity']>1)
# df[filt][['quantity','item_name']].sort_values('quantity',ascending=False).count()
df[filt]['quantity'].count()
# df[filt]['quantity'].sum()

np.int64(33)

In [311]:
df['item_name'].value_counts().head(3)

item_name
Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Name: count, dtype: int64

In [308]:
filt = (df['item_name'] == 'Chicken Salad Bowl') & (df['quantity']>1)
df[filt]['quantity'].count() # 110
# df[filt]['quantity'].sort_values(ascending=False)

np.int64(13)

In [317]:
filt = df['item_name'] == 'Chicken Bowl'
df[filt].count()
df['item_name'].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64