In [24]:
import pandas as pd
import numpy as np
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python
2번    강태원   구로고  184   40   35   50  55  25        Java
3번    강호림   구로고  168   80   75   70  80  75  Javascript
4번    김수찬   구로고  187   40   60   70  75  80         NaN
5번    김재욱   구로고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190  100   85   90  95  95          C#

In [25]:
# 그룹화
# 해당되는 그룹의 리스트 보여줌
# df.groupby('학교').get_group('구로고')
# df.groupby('학교').count()
df.groupby('학교').size() # 해당 학교 학생 수 확인
df.groupby('학교').size()['구로고'] # 해당 학교 학생 수 확인
df.groupby('학교')['키'].mean() # 학교별 키의 평균값 출력

학교
구로고     184.800000
디지털고    193.333333
Name: 키, dtype: float64

In [26]:
df.groupby('학교').size()

학교
구로고     5
디지털고    3
dtype: int64

In [27]:
# 학교 그룹별 키,국어점수 평균
df.groupby('학교')[['키','국어']].mean()

df.groupby('학교')['키'].max()

학교
구로고     197
디지털고    202
Name: 키, dtype: int64

In [28]:
# 컬럼별 최대값 최소값 평균 합계 표준편차
df.groupby('학교')['키'].mean()

학교
구로고     184.800000
디지털고    193.333333
Name: 키, dtype: float64

In [29]:
df['학년'] = [3,3,2,1,3,2,2,1]

In [31]:
df.groupby(['학교','학년']).size()

학교    학년
구로고   1     1
      2     1
      3     3
디지털고  1     1
      2     2
dtype: int64

In [33]:
df.groupby('학교')['SW특기'].count()

학교
구로고     3
디지털고    3
Name: SW특기, dtype: int64

In [35]:
df.groupby('학교').count()
df.groupby('학년').count()

    이름  학교  키  국어  영어  수학  과학  사회  SW특기
학년
1    2   2  2   2   2   2   2   2     1
2    3   3  3   3   3   3   3   3     3
3    3   3  3   3   3   3   3   3     2

In [39]:
df.groupby('학년').sum().sort_values('키')
df.groupby('학교')['키'].max()

학교
구로고     197
디지털고    202
Name: 키, dtype: int64

In [48]:
# 그룹화
# 컬럼을 기준으로 그룹핑 - sum(), count() size()
# mean meax min -> 안되는 내용은 컬럼을 지정['키']
# 컬럼지정필요 : df.groupby('학교')['컬럼'].mean()
df.groupby('학교')['이름'].min()

df.groupby(['학년','학교']).count()

df.groupby('학교')[['키','국어']].min()

# 그룹별 키로 정렬
df.groupby('학년')['키'].mean().sort_values(ascending=False)

학년
3    189.666667
1    188.500000
2    186.000000
Name: 키, dtype: float64

In [ ]:
# 학교 학년별로 그룹핑 학생 수 출력
# 그룹핑을 했을 때 사용되는 개수
df.groupby('학교')['학년'].value_counts()

학교    학년
구로고   3     3
      1     1
      2     1
디지털고  2     2
      1     1
Name: count, dtype: int64

In [ ]:
# 학교로 그룹핑을 해서 구로고 학생만 학년으로 학생수 출력
df.groupby('학교')['학년'].value_counts().loc['구로고']

# 퍼센트로 출력됨 : normalise = True
df.groupby('학교')['학년'].value_counts(normalize=True).loc['구로고']

학년
3    0.6
1    0.2
2    0.2
Name: proportion, dtype: float64

In [63]:
df.groupby('학교')['키'].sum()

학교
구로고     924
디지털고    580
Name: 키, dtype: int64

In [68]:
df.groupby('학교')['키'].mean()
df.groupby('학교')['키'].min()
df.groupby('학교')['키'].max()
df.groupby('학교')['키'].agg(['mean','min','max','sum'])

            mean  min  max  sum
학교
구로고   184.800000  168  197  924
디지털고  193.333333  188  202  580

In [71]:
df['키'].agg(['mean','min','max','sum'])

mean     188.0
min      168.0
max      202.0
sum     1504.0
Name: 키, dtype: float64